.fixed-footer {
  position: fixed;
  bottom: 2px;
  height: 20px;
  width: 100%;
}

.bgColor {
  background: #db0e0e2a;
  //   align-content: center;
  align-items: center;
}
.h4 {
  text-align: center;
  font-size: 15px;
}
