.center {
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-size: 38px;
}
.container {
  height: 100vb;
  background-color: rgb(226, 231, 236);
  // position: fixed;
}

.details {
  text-decoration: underline;
  font-weight: bold;
}

// .col-2 {
//   width: 75px;

//   margin-right: 25px;
//   padding: 5px;
//   background-color: aliceblue;
//   border-radius: 5px;
//}
// .sub {
//   width: 75px;
//   padding: 5px;
//   background-color: rgb(161, 193, 205);
//   border-radius: 5px;
// }
