.center {
  align-content: center;
  color: rgba(255, 255, 255, 1);
  font-size: 40px;
}
.container {
  height: 65vb;
  background-color: rgb(226, 231, 236);
  padding: 10px;
  margin: 5px 5px 5px 5px;
  // position: fixed;
}
p {
  padding: 10px;
}
