<div class="row bg-primary p-4 m-3 text-center">
  <h1 [class]="styler">{{ title }}</h1>
</div>

<div class="row">
  <div class="container">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia temporibus
      rerum eius, commodi aliquid at tempore eum nisi voluptatem? Quidem cumque
      aspernatur veniam magnam corrupti dolores enim ab, omnis distinctio beatae
      asperiores voluptatem quis iure culpa quod impedit. Ratione officiis
      sapiente nostrum cupiditate soluta et modi ullam dolores iure adipisci
      fuga, a repellendus sunt assumenda voluptatum. Accusamus libero delectus
      ea! Minus doloribus mollitia eos quaerat nemo maxime unde aliquam porro,
      qui ab perspiciatis nihil id cumque temporibus quia quisquam iusto illo
      repellat amet? Nemo minus sunt sapiente nihil magnam exercitationem,
      molestiae quibusdam? Voluptates a ipsam, quod nesciunt accusamus omnis
      illum?
    </p>
  </div>
</div>
